<launch>



  #Lidar 
 
  <include
   file="$(find ouster_ros_v)/launch/os1.launch"/>


<!--   <node pkg="tf"
      type="static_transform_publisher"
      name="link1_broadcaster"
      args="0.0 0.0 0.0 0.0 0.0 1.0 velodyne velodyne 100" />   -->

  #control_interface

  <include
   file="$(find amac_core)/launch/controller.launch"/>

  #car_odom

  <include
   file="$(find car_odom)/launch/car_wheel_odom.launch"/>

  #arduino

  <include
   file="$(find arduino_auto)/launch/arduino_enable.launch"/>

  #INS


  <include
   file="$(find inertial_sense)/launch/test.launch"/>
  

  #urdf

  <include
   file="$(find AMAC_car_assy_urdf)/launch/display.launch"/>



  #slam

  <!--- <include
   file="$(find hdl_graph_slam)/launch/hdl_graph_slam.launch"/> -->

<!--   <include
   file="$(find lego_loam)/launch/run.launch"/> -->


 #gmapping

 <include
   file="$(find gmapping)/test/basic_localization_stage.launch"/>

#3d to 2d scan

 <include
   file="$(find pointcloud_to_laserscan)/launch/sample_node.launch"/>



</launch>
